*.pyc
*.pyo
*.pyd
__pycache__
.Python
env/
venv/
ENV/
.venv
*.env
.git
.gitignore
.dockerignore
docker-compose.yml
README.md
*.md
.DS_Store
*.sqlite3
db.sqlite3
*.log
staticfiles/
media/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
